<!DOCTYPE html SYSTEM "http://thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">

        <img th:src="@{/img/ddlogo1.png}" height="100" align ="center" alt="DD Logo">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a th:href="@{/login}" class=" btn btn-primary btn-sm mb-3">Login</a>
                </li>

                <li class="nav-item">
                    <a th:href="@{/}" class=" btn btn-success btn-sm mb-3">Return To Home Page (if logged in)</a>
                </li>

                <li class="nav-item">
                    <a th:href="@{/registration}" class=" btn btn-primary btn-sm mb-3">Register</a>
                </li>
                <!--TODO create space to render between buttons. Deferred to v2-->
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<div align="center">
    <h1>Blog Posts</h1>
    <br>
    <br>
</div>
<div class="container">
    <div th:each="post: ${listPosts}">
        <br>
        <h6><u><i>Post Title:</i></u></h6>

       <h3><div th:text="${post.title}"></div></h3>

        <!--                    <td th:text="${post.dateCreated}"></td> TODO ADD date created feature to v2-->
        <h6><u><i>Post Written By:</i></u></h6>
        <h3><div th:text="${post.author}"></div></h3>
        <br>

        <div th:text="${post.postBody}"></div>
        <hr>
    </div>
</div>



</body>
</html>