<!DOCTYPE html SYSTEM "http://thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Register New Employee</title>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img th:src="@{/img/ddlogo1.png}" height="100" align="center" alt="DD Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!--                <li class="nav-item active">-->
                <!--                    <a class="nav-link" href="#">Home-->
                <!--                        <span class="sr-only">(current)</span>-->
                <!--                    </a>-->
                <!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>-->
<!--                </li>-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="#">Services</a>-->
                <!--                </li>-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="#">Contact</a>-->
                <!--                </li>-->
            </ul>
        </div>
    </div>
</nav>
<br>
<br>

<!--RegistrationFrom-->

<div class = "container">
    <div class = "row justify-content-center align-items-center">
        <div class = "col-md-6 col-md-offset-3">

            <!-- success message-->
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully registered!
                </div>
            </div>

<!--            Registration form-->
            <h1>Registration</h1>
            <form th:action = "@{/registration}" method="post" th:object = "${user}">
                <div class="form-group">
                    <label class = "control-label" for ="firstName">First Name</label>
                    <input id="firstName" class="form-control" th:field= "*{firstName}" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label class = "control-label" for ="lastName">Last Name</label>
                    <input id="lastName" class="form-control" th:field= "*{lastName}" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label class = "control-label" for ="email">Email</label>
                    <input id="email" class="form-control" th:field= "*{email}" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label class = "control-label"  for ="password">Password</label>
                    <input id="password" class="form-control" type="password" th:field="*{password}" required
                           autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <button type="submit"  class="btn btn-success">Register</button>
                    <span>Already Registered? <a href="/"th:href="@{/login}"> Login Here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>





</body>
</html>